<h1> Esqueceu sua senha?, <%= @user.name %></h1>
  <p>
    Você requisitou a recuperação de sua senha em MOVIRQ.com,
    seu username é: <%= @user.email %>.<br>
  </p>
<p> Obrigado poe utilizar nossos serviços e tenha um bom dia! </p>