<h1>Nova solicitãção Pontual</h1>

<p class = 'fonte-texto'>Descreva aqui sua solicitação, destacando: modalidade, naipe, quadra e horário desejado. Justifique a requisição (Ex: Quadra 10 livre entre 17h e 17h30)</p>

<%= render 'form', solicitacao_pontual: @solicitacao_pontual %>

<%= link_to 'Voltar', aaa_index_path %>
