<p id="notice"><%= notice %></p>

<p>
  <strong>Solicitação:</strong>
  <%= @solicitacao_pontual.Solicitação %>
</p>

<%= link_to 'Edit', edit_solicitacao_pontual_path(@solicitacao_pontual) %> |
<%= link_to 'Back', solicitacao_pontuals_path %>
