<h1>LAAUSP</h1>

<div >
<p class = 'texto-laausp'>Bem vindo ao portal da LAAUSP!</p>
<p class = 'texto-laausp'>Aqui você pode visualizar os pedidos de reserva das atléticas e gerenciar as atléticas cadastradas</p>
</div>

<div class = 'acoes-laausp'>
<%= link_to "Ver reservas solicitadas", aceitarReservas_path %>
<%= link_to "Gerenciar Atléticas", users_path %>

</div>

<div>

<%= link_to "Início", root_path %>
</div>