<h1> Gerenciar Atléticas </h1>
<table class= 'tabela-users'>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= link_to "Visualizar", user %></td>
            </tr>
        <%end%>
    </tbody>
</table>

<p>Para cadastrar uma Atlética, <%= link_to "clique aqui!", new_user_path %></p>