<h1>MOVIRQ</h1>

<ul>
	<p class = 'texto'> Bem-vindo ao projeto MOVIRQ. 
		Um sistema feito para faclitar a comunicação entre a LAAUSP, as Atléticas, os atletas e, também, os entusiastas do esporte universitário. Aqui, você terá acesso aos horários de quadra da sua modalidade, poderá enviar suas reservas do mês e saber quando terá aquele horário livre pra jogar um futebas com a galera.</p>

	<p class = 'texto'> Para acessar funções específicas de usuário, acesse o sistema.</p>

	<p><%= link_to "Log in", sign_in_path %></p>

	<p class = 'texto'>Para ver os horários de reserva, clique no botão abaixo.</p>

	<p><%= link_to "Ver Tabela de Quadras", tabela_path %></p>
	<p class = 'texto'> Saiba mais sobre o projeto e os criadores desta plataforma </p>
	<p><%= link_to "Sobre nós", sobre_nos_index_path%></p>

</ul>



