<h1>MOVIRQ</h1>

<ul>
	<p> Bem-vindo ao projeto MOVIRQ. 
		Um sistema feito para faclitar a comunicação entre a LAAUSP, as Atléticas, os atletas e, também, os entusiastas do esporte universitário. Aqui, você terá acesso aos horários de quadra da sua modalidade, poderá enviar suas reservas do mês e saber quando terá aquele horário livre pra jogar um futebas com a galera.</p>

	<p> Para acessar funções específicas de usuário, acesse o sistema.</p>

	<li><%= link_to "Login", sign_in_path %></li>

	<p>Para ver os horários de reserva, clique no botão abaixo.</p>

	<li><%= link_to "Ver Reservas", ver_reservas_index_path %></li>

</ul>


