<h1>Sobre Nós</h1>
<p>Find me in app/views/sobre_nos/index.html.erb</p>
<p> Este website surgiu como trabalho da disciplina de Sistemas de Informação</p>
<p> com a ideia de facilitar as reservas de quadras do CEPE, tanto para as </p>
<p> atléticas quanto para a própria LAAUSP </p>
<p> </p>
<h3>Desenvolvedores</h3>
<p> Eduardo Eiras </p>
<p> Gustavo Carvas </p>
<p> Luana Nunes </p>
<p> João Meneghini </p>
<p> Rafael Sobral </p>

<%= link_to "Início", root_path %>