<h1>AAA</h1>

<div >
<p class = 'texto-aaa'>Bem vindo ao portal da Atlética!</p>
<p class = 'texto-aaa'>Aqui você pode visualizar os pedidos de reserva já enviados para a LAAUSP ou fazer uma solicitação pontual</p>
</div>

<div class = 'acoes-aaa'>
<%= link_to "Ver reservas solicitadas", reservas_path %>
<%= link_to "Fazer uma solicitação pontual", solicitacao_pontuals_path %>

</div>

<div class = "resto-aaa">
<%= link_to "Sobre Nós", sobre_nos_index_path %>
<%= link_to "Início", root_path %>
</div>