<h1>AAA</h1>
<p>Find me in app/views/aaa/index.html.erb</p>
<p>Aqui você pode editar, visualizar e enviar suas reservas</p>
<%= link_to "Início", root_path %>
<p> </p>
<%= link_to "Ver Reservas", reservas_path %>
<%= link_to "Sobre Nós", sobre_nos_index_path %>