// Place all the styles related to the Atleticas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.atleticas{
    background-color: #ffff99;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    table {
        border-collapse: collapse;
    }

    table tr td {
        padding: 5px;
        vertical-align: top;
    }

    .tabela-atleticas {
        width: 50%;
        margin-top: 3%;
        padding: 5px;
        display: flexbox;
        justify-content: space-between;
        flex-direction: column;
    }

    .nome-atletica{
        font-family:'Montserrat', sans-serif;
        font-size: larger;
    }

    .botao{
        background-color: #ffcc99;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
    }
    .formulario{
        text-align: center;
    }

    .field{
        margin-bottom: 2%;
    }

    .caixa-texto{
        border-radius: 5px;
        width: 20%;
        border: transparent;
    }
}



