// Place all the styles related to the LAAUSP controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the AAA controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.laausp{
    background-color: #ffff99;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    .acoes-laausp{
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin-left: 30%;
        font-size: larger;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .texto-laausp{
        font-family: "Montserrat", sans-serif;
        font-size: larger;
    }
}