// Place all the styles related to the reservaAceita controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.reserva_aceita{
    background-color: #ffff99;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    .tabela-reservas{
        width: 80%;
        margin-top: 3%;
        padding: 5px;
        display: flexbox;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 10%;
    }
}
