// Place all the styles related to the Reservas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.reservas{
    background-color: #ffff99;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    table {
        border-collapse: collapse;
    }

    table tr td {
        padding: 5px;
        vertical-align: top;
    }

    .tabela-reservas {
        width: 50%;
        margin-top: 3%;
        padding: 5px;
        display: flexbox;
        justify-content: space-between;
        flex-direction: column;
        width: 90%;
    }

    .botao{
        background-color: #ffcc99;
        border-radius: 2px;
        border-color: black;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
    }
    .caixa-texto{
        border-radius: 5px;
        width: 20%;
        border: transparent;
    }
}
