// Place all the styles related to the SobreNos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sobre_nos{
    background-color: #ffff99;
    font-family: 'Montserrat', sans-serif;
    .titulo{
        text-align: center;
    }
    .desenvolvedores{
        text-align: center;
        margin-top: 10%;
    }
    .texto{
        margin-left: 20%;
        margin-top: 3%;
        width: 60%;
        text-align: justify;
        text-indent: 40px;
    }
    .fonte-texto{
        font-family: 'Montserrat', sans-serif;
        font-size: large;
    }
    .link_s{
        font-size: larger;
        margin-left: 3%;
    }
    .fonte-dev{
        font-family: 'Montserrat', sans-serif;
    }

}