// Place all the styles related to the SolicitacaoPontual controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.solicitacao_pontual{
    background-color: #ffff99;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}