// Place all the styles related to the SolicitacaoPontuals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.solicitacao_pontuals{
    background-color: #ffff99;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    .botao{
        margin-top:1%;
        background-color: #ffcc99;
        border-radius: 2px;
        border-color: black;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
    }
    .caixa-texto{
        border-radius: 5px;
        width: 20%;
        border: transparent;
    }
    .fonte-texto{
        font-family: 'Montserrat', sans-serif;
    }
}