// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.welcome{
    background-color: #ffff99;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    .texto{
        font-family: "Montserrat", sans-serif;
        font-size: larger;
        margin-left: 10%;
        width: 80%;
    }

}